<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<div>Bonjour, </div>

<div>  
 1.<b th:text="${rawEmailObject.userName}"></b> <br> <br>
 2.La référence de la transacton  :  <b th:text="${rawEmailObject.rr}"></b> <br> <br>
 3.Le commentaire  :  <b th:text="${rawEmailObject.comment}"></b> <br> <br>
 
 </div>
 
  <p> Merci de faire confiance  à La Rawbank</p>
</body>
</html>
